h1 {
  font-size: 80px;
  font-family: "Oswald";
  color: #464646;
}
p{
    text-align: right;
}
a {
  font-size: 20px;
  color: rgb(167, 1, 78);
  text-decoration: none;
}

li {
  text-align: left;
  margin: 10px;
  font-size: 30px;
}
